body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper-content{
  text-align: center;
  margin-top: 25px;
}

.wrapper-img img{
  text-align: center;
  width: 30%;
  transform: translateX(120%);
}

footer {
  margin-top: 25px;
}

footer button {
  margin-right: 10px;
}
